
html{
  font-family:sans-serif;
  font-weight:100;
}

body{
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#info{
  font-style: italic;
  font-size: 17px;
  color: #535353;
}

.latex{
  height:24px;
  vertical-align: -10px;
  /* filter: invert(1); */
}

#BIGLink{
  color: black;
  background: white;
  position: absolute;
  z-index: 1000;
  right: 0;
  border-left: 2px solid black;
  padding: 5px;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 7px;
}


#measurements{
  padding: 5px;
  position: absolute;
  user-select: none;
  right: 0px;
  color: blue;
  box-shadow: 0px 0px 5px 1px #a7a7a7;
}

#leftpane{
  margin: 0px;
  /* margin: auto; */
  width: 100%;
  text-align: center;
  background: #f1f1f1;
  /* padding: 3px; */
  border-radius: 2px;
  width: 220px;
  height: 100%;
  position: absolute;
  z-index: 3;
  border: 2px solid black;
  border-right-width: 0px;
  box-shadow: inset -3px 0px 0 1px black;
  overflow-y: auto;
}

#svg{
  position: absolute;
  right: 0;
  width: calc(100% - 220px);
  height: 100%;
  border: 2px solid black;
}

#controlpane{
  position: absolute;
  right: 0;
  width: calc(100% - 220px);
  border: 0.5px solid black;
  background: #e2e2e2;
  /* padding-left: 24px; */
}

#showControlPoints{
  background-image: url('./images/eye.svg');
}

.control{
  width: 15;
  height: 15;
  margin: 6;
  margin-left: 10px;
  padding: 4px;
  /* background-size: 20px; */
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
}

.control:hover{
  cursor:pointer;
  transform:scale(1.2);
  transform-origin:center;
  box-shadow:0px 0px 1px 0px #292929;
  border-radius:1px;
}

.pinfo{
  margin-bottom: 6px;
  border-top: 0.2px solid gray;
  padding-top: 6px;
  margin-top: 15px;
  text-align: left;
  margin-left: 0;
  padding-left: 4px;
  font-size:15px;
}

#comment{
  color: black;
  font-size: 14px;
  text-align: left;
  /* left: 0px; */
  padding-left: 6px;
}


#Languette {
    position: absolute;
    top: 50%;
    background-color: #c5c5c5;
    border-radius: 1px;
    height: 15px;
    width: 8px;
    z-index: 1;
    right: 0px;
    transform: translateX(+50%);
    /* background-image: url(./images/ChevronRight.svg); */
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    /* border-radius: 0px 2px 2px 0px; */
    z-index: 91;
    top: 0;
    height: 100%;
}

#Languette:hover{
  cursor:col-resize;
}
